<div class="dropdown">
    сортировать по:
    <form action="{% url 'hub_category' request.resolver_match.kwargs.pk %}" method="get">
        <select class="btn btn-secondary dropdown-menu-dark" name="by_date" id="sorting_by_date">
            <option class="dropdown-item">дате</option>
            <option value="first_new" class="dropdown-item">Сначала новые</option>
            <option value="first_old" class="dropdown-item">Сначала старые</option>
        </select>

        <select class="btn btn-secondary dropdown-menu-dark" name="by_like" id="sorting_by_like">
            <option class="dropdown-item">лайкам</option>
            <option value="first_more" class="dropdown-item">Сначала больше</option>
            <option value="first_less" class="dropdown-item">Сначала меньше</option>
        </select>

        <select class="btn btn-secondary dropdown-menu-dark" name="by_comments" id="sorting_by_comments">
            <option class="dropdown-item">комментариям</option>
            <option value="first_more" class="dropdown-item">Сначала больше</option>
            <option value="first_less" class="dropdown-item">Сначала меньше</option>
        </select>

        <button action="{% url 'hub_category' request.resolver_match.kwargs.pk %}" class="btn btn-outline-success" type="submit">Сортировать</button>
    </form>
</div>