<h2 class="comment_h2">Последние комментарии:</h2>
<div class="comment-main">
    {% if not request.user.is_anonymous %}
    {% if not comments %}
    Комментариев пока что нет...
    {% endif %}
    {% for item in comments %}
    <div class="block-comment">
        <div class="text" name="{{item.id}}">
            <p style="color: maroon">
                            <span class="font-weight-bold">
                                    {{ item.author }}
                            </span>
                оставил комментарий {{ item.add_datetime }}:
            </p>
            <p>{{ item.text }}</p>
            {% if request.user.username == item.author.username or request.user.is_superuser %}
            <button class="btn-comments-answer com_delete" name="{{article.id}}" value="{{item.id}}">
                Удалить
            </button>
            {% endif %}
            <hr>
            {% for subitem in subcomments.values %}
            <div class="block-subcomment" style="width: 80%; margin-left: 20%">
                {% for element in subitem %}
                {% if item.id == element.comment_id %}
                <p style="color: maroon">
                                            <span class="font-weight-bold">
                                                    {{ element.author }}
                                            </span>
                    ответил {{ element.add_datetime }}:
                </p>
                <p> {{ element.text }}</p>
                {% if request.user.username == element.author.username or request.user.is_superuser %}
                <button class="btn-comments-answer sub_com_delete" name="{{article.id}}" value="{{element.id}}">
                    Удалить
                </button>
                {% endif %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn-comments-answer" onclick="show('subcomment_block_{{ item.id }}')">
                Ответить
            </button>
            <div class="subcomment_block" id="subcomment_block_{{ item.id }}">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <textarea class="textarea_subcomment_{{item.id}}" name="text_subcomment" rows="3"
                              style="width: 80%"></textarea>
                    <div class="text-right">
                        <button class="submit_subcomment submit_subcomment_{{item.id}}" id="{{article.pk}}"
                                name="comment_id"
                                value="{{item.id}}" type="submit">Отправить
                        </button>

                        {# <input class="submit_subcomment" name="{{item.id}}" type="submit" value="Отправить">#}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <br>
        {% if not comments %}
        <label>Будьте первым:</label>
        {% else %}
        <label>Оставьте комментарий:</label>
        {% endif %}
        <textarea class="textarea" name="text_comment" rows="5" style="width: 100%"></textarea>
        <div class="text-right">
            <input class="submit_comment" name="{{article.pk}}" type="submit" value="Отправить">
        </div>
    </form>
    {% else %}
    Войдите в аккаунт, чтобы просматривать и оставлять комментарии...
    {% endif %}
</div>
