
<form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
    <div class="mb-3">
        <label for="start_date" class="form-label">По дате:</label>
        {% render_field search_filter.form.start_date class="form-control" id="start_date" placeholder="дата от"%}
    </div>
    <div class="mb-3">
        <label for="end_date" class="form-label">По количеству лайков:</label>
        {% render_field search_filter.form.end_date class="form-control" id="end_date" placeholder="дата до"%}
    </div>
    <div class="mb-3">
        <label for="rating_start" class="form-label">По количеству коментариев:</label>
        {% render_field search_filter.form.rating_start class="form-control" id="rating_start" placeholder="рейтинг от"%}
    </div>
</form>