{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}{{ title|title }} {% endblock %}
{% load project_tags %}
{% block stylesheets %}
    {% include 'mainapp/includes/inc_stylesheets.html' %}
    <link rel="stylesheet" href="{% static 'css/correspondence.css' %}" type="text/css">
{% endblock stylesheets %}
{% block js %}

{% endblock %}
{% block content %}
    {% csrf_token %}
    <h3 class=" text-center">Messaging</h3>
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        {% if chats %}
                            {% for chat in chats %}
                            <div class="chat_list active_chat" id="{{ chat.chat_item.pk }}">
                                <div class="chat_people" id="{{ chat.chat_item.pk }}">
                                    <div class="chat_img">
                                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" id="{{ chat.chat_item.pk }}">
                                    </div>
                                    <div class="chat_ib" id="{{ chat.chat_item.pk }}">
                                        <h5 id="{{ chat.chat_item.pk }}">{{ chat.member.username }}<span class="chat_date">{{ chat.last_message.datetime }}</span></h5>
                                        <p style="min-width: 400px" id="{{ chat.chat_item.pk }}">
                                            {% if chat.last_message %}
                                                {{ chat.last_message.text }}
                                            {% else %}
                                                (нет сообщений)
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>У вас пока нет ни одного чата</p>
                        {% endif %}

                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="no_msg"><p>Выберете чат</p></div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message"/>
                            <button class="msg_send_btn" type="button">
                                ->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center top_spac"> Design by
        <a target="_blank" href="https://www.linkedin.com/in/sunil-rajput-nattho-singh/">Sunil Rajput</a>
    </p>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
