{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}{{ title|title }} {% endblock %}
{% load project_tags %}
{% block stylesheets %}
    {% include 'mainapp/includes/inc_stylesheets.html' %}
    <link rel="stylesheet" href="{% static 'css/correspondence.css' %}" type="text/css">
{% endblock stylesheets %}
{% block js %}

{% endblock %}
{% block content %}
    {% csrf_token %}
    <h3 class=" text-center">Messaging</h3>
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        {% if chats %}
                            {% for chat in chats %}
                                <div class="chat_list" id="{{ chat.chat_item.pk }}">
                                    <div class="chat_people" id="{{ chat.chat_item.pk }}">
                                        <div class="chat_img">
                                            <img src="
                                                {{ chat.member.avatar|media_folder_users }}
                                                " alt="sunil" id="{{ chat.chat_item.pk }}
                                                ">
                                        </div>
                                        <div class="chat_ib" id="{{ chat.chat_item.pk }}">
                                            <h5 id="{{ chat.chat_item.pk }}">
                                                {{ chat.member.username }}
                                                <div class="not_read" id="{{ chat.chat_item.pk }}">
                                                    {% if chat.not_read %}
                                                    <p class="not_readd" id="{{ chat.chat_item.pk }}">{{ chat.not_read }}</p>
                                                    {% endif %}
                                                </div>
                                                <span class="chat_date" id="{{ chat.chat_item.pk }}">{{ chat.last_message.datetime }}</span>
                                            </h5>
                                            <p class='last_message' style="min-width: 400px" id="{{ chat.chat_item.pk }}">
                                                {% if chat.last_message %}
                                                    {{ chat.last_message.text }}
                                                {% else %}
                                                    (нет сообщений)
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>У вас пока нет ни одного чата</p>
                        {% endif %}

                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="no_msg"><h1>Выберете чат</h1></div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input disabled type="text" class="write_msg" placeholder="Текст сообщения"/>
                            <button class="msg_send_btn" type="button">
                                ->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
