{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <input class="form-control" type="submit" value="Войти">
    </form>

    <button class="btn btn-round form-control">
        <a href="{% url 'auth:register' %}" class="">
            Зарегистрироваться
        </a>
    </button>


{% endblock %}
