{% extends "mainapp/base.html" %}
{% load static %}
{% load project_tags %}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    {% if not notifications %}
        <p class="display-heading text-center red">Уведомлений пока что нет...</p>
    {% else %}
        <p class="display-heading text-center">Последние уведомления</p>
    {% endif %}
    <div class="article-box">
        {% for item in notifications %}
            <div class="block-article">
                <p>
                    {{ item.add_datetime }}
                    <a href="{% url 'auth:profile' %}">
                        <span class="font-weight-bold">
                            {{item.sender }}
                        </span>
                    </a>
                    {{ item.action }}
                    {{ item.target }}
                    {% if item.text %}
                        <hr>
                        {{ item.text }}
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}