{% extends "mainapp/base.html" %}
{% load project_tags %}
{% block content %}
    <div class="article-box">
        <p class="display-heading">Личный кабинет</p>
        <a class="btn btn-primary" href="{% url 'auth:edit' %}">Редактировать профиль</a>
        <div class="profile_info"><img class="profile_image" src="{{ user.avatar|media_folder_users }}"
                                       alt="profile_image">
            <div class="profile_about">
                <p>Username: {{ user.username }}</p>
                <p>Возраст: {{ user.age }}</p>
                <p>Обо мне: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores itaque
                    dolores similique, nam, repellendus quisquam ab amet voluptatum odio sunt mollitia enim! Ea iusto ut
                    ipsum sint, autem expedita et suscipit deserunt accusamus, nesciunt cum, reiciendis quam quis!
                    Accusantium quod minus error quisquam, tempora laudantium laborum aliquid quas est eum corporis
                    iusto dicta consequatur doloremque quaerat nulla necessitatibus fugiat minima itaque expedita,
                    dolorum veritatis rerum iure neque. Temporibus aspernatur quasi architecto, porro tenetur officiis
                    iusto quaerat facere ex dicta asperiores iste eum nulla nesciunt aliquam. Nisi laborum officiis
                    perspiciatis dolorem error explicabo atque. Voluptatum quisquam quam voluptatem sint quasi.</p>
            </div>
        </div>

        <p class="profile_subheading_1">Мои статьи</p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createArticle">
            Создать статью
        </button>

        <div class="modal fade" id="createArticle" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Заголовок модального окна</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{% url 'create_article' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ creation_form.as_table }}
                            <br>
                            <input class="form-control" type="submit" value="Сохранить">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <p class="profile_subheading_2">Опубликованные</p>
        <table class="article-table">
            <tbody>
            {% for art in articles %}
                {% if art.article.article_status == 'PB' %}
                    <tr>
                        <td class="article-table">
                            <table>
                                <tr>
                                    <td rowspan="2" class="article-name">
                                        <a href="{% url 'article_page' art.article.pk %}" class="article-anchor">
                                            <p>{{ art.article.name }}</p>
                                        </a>
                                    </td>
                                    <td class="hub-name"><p>{{ art.article.hub.name }}</p></td>
                                    <td rowspan="2" class="article-edit-buttons">
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                                data-target="#editArticle_{{ art.article.pk }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                                data-target="#archive_{{ art.article.pk }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hub-name"><p>{{ art.article.add_datetime }}</p></td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <div class="modal fade" id="archive_{{ art.article.pk }}" data-backdrop="static"
                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Переместить статью в архив</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы собираетесь переместить статью в архив:</p>
                                    <p>{{ art.article.name }}</p>
                                    <p>После перемещения в архив, статья будет недоступна пользователям портала.</p>
                                    <p>Вы сможете восстановить статью из архива в любой момент.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <form class="form-horizontal" action="{% url 'change_active' art.article.pk %}"
                                          method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input class="form-control" type="submit" value="Подтвердить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editArticle_{{ art.article.pk }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Редактирование статьи</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="{% url 'create_article' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ art.form.as_p }}
                                        <br>
                                        <input class="form-control" type="submit" value="Сохранить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <p class="profile_subheading_2">Архив</p>
        <table class="article-table">
            <tbody>
            {% for art in articles %}
                {% if art.article.article_status == 'AR' %}
                    <tr>
                        <td class="article-table">
                            <table>
                                <tr>
                                    <td rowspan="2" class="article-name">
                                        <p>{{ art.article.name }}</p>
                                    </td>
                                    <td class="hub-name"><p>{{ art.article.hub.name }}</p></td>
                                    <td rowspan="2" class="article-edit-buttons">
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                                data-target="#editArticle_{{ art.article.pk }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                                data-target="#archive_{{ art.article.pk }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hub-name"><p>{{ art.article.add_datetime }}</p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <div class="modal fade" id="archive_{{ art.article.pk }}" data-backdrop="static"
                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Восстановить статью</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы собираетесь восстановить статью:</p>
                                    <p>{{ art.article.name }}</p>
                                    <p>После восстановления, статья станет доступна пользователям портала.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <form class="form-horizontal" action="{% url 'change_active' art.article.pk %}"
                                          method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input class="form-control" type="submit" value="Подтвердить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="editArticle_{{ art.article.pk }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Редактирование статьи</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="{% url 'create_article' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ art.form.as_p }}
                                        <br>
                                        <input class="form-control" type="submit" value="Сохранить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

