{% extends "mainapp/base.html" %}
{% load static %}
{% load project_tags %}
{% block content %}
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <div class="article-box">
        <div class="details">
            <h3 class="text-center profile_subheading_1">Личный кабинет</h3>
            <div class="block-article">
                <div class="block-profile">
                    <div class="img-role-redaction-block">
                        <div class="profile-img-block">
                            <img class="profile_image" src="{{ user.avatar|media_folder_users }}"
                                  alt="profile_image">
                        </div>
                        <div class="profile-role-block">
                            {% if user.is_superuser %}
                                Администратор
                            {% elif user.is_staff %}
                                Модератор
                            {% else %}
                                Пользователь
                            {% endif %}
                        </div>
                        <div class="user-admin-moder-buttons">
                            <a class="btn-red-profile-block" href="{% url 'auth:edit' %}">
                                Редактировать профиль
                            </a>
                            <div class="admin-moder-buttons">
                                {% if user.is_superuser %}
                                    <hr>
                                    <div class="btn-profile-admin-block">
                                        <a class="btn-red-profile-block" href="{% url 'adminapp:users' %}">Админка</a>
                                        <a class="btn-red-profile-block" href="{% url 'moderation:main' %}">Модерация</a>
                                    </div>
                                {% elif user.is_staff %}
                                    <div><a class="btn btn-secondary" href="{% url 'moderation:main' %}">Модерация</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="info-about-user">
                        <div class="first-last-name-block">
                            <p class="first-last-name">{{ user.first_name|title }} {{ user.last_name|title }}</p>

                        </div>
                        <hr>
                        <div class="profile_info">
                            <div class="profile_about">
                                <p><span class="about-user-pole">Username:</span> {{ user.username }}</p>
                                <hr>
                                <p><span class="about-user-pole">Возраст:</span> {{ user.age }}</p>
                                <hr>
                                <p><span class="about-user-pole">Обо мне:</span>
                                    {% if user.about_me %}
                                        {{ user.about_me|safe }}
                                    {% else %}
                                        Тут могла бы быть информация о вас, но вы не заполнили профиль =(
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="profile_subheading_1 text-center">Мои статьи</h3>
            <div class="block-article">
                <div class="profile-article">
                    <p class="profile_subheading_2"></p>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createArticle">
                            Создать статью
                        </button>
                    </div>
                </div>

                <div class="modal fade" id="createArticle" data-backdrop="static" data-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Заголовок модального окна</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" action="{% url 'create_article' %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ creation_form.as_table }}
                                    <br>
                                    <input class="form-control" type="submit" value="Сохранить">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% for status, arts in articles.items %}
                    <p class="profile_subheading_2">{{ status.name_plural }}</p>
                    {% if not arts %}
                        <p>Нет статей</p>
                    {% else %}
                        <table class="article-table">
                            <tbody>
                            {% for art in arts %}
                                <tr>
                                    <td class="article-table">
                                        <table>
                                            <tr>
                                                <td rowspan="2" class="article-name">
                                                    {% if art.article_status_new.name == 'Опубликована' %}
                                                    <a href="{% url 'article_page' art.pk %}" class="article-anchor">
                                                        <p>{{ art.name }}</p>
                                                    </a>
                                                    {% elif art.article_status_new.name == 'На модерации' %}
                                                    <a href="{% url 'moderation:article' art.pk %}" class="article-anchor">
                                                        <p>{{ art.name }}</p>
                                                    </a>
                                                    {% else %}
                                                    <p>{{ art.name }}</p>
                                                    {% endif %}

                                                </td>
                                                <td class="hub-name"><p>{{ art.hub.name }}</p></td>
                                                <td rowspan="2" class="article-edit-buttons">
                                                    {% for button in status.buttons.all %}
                                                        {% include button.include_html_file_name %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hub-name"><p>{{ art.add_datetime }}</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/profile_articles.js' %}"></script>
{% endblock %}
