{% extends 'mainapp/base.html' %}
{% load static %}
{% load project_tags %}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    <div class="users_list">
        <div class="flex-block-profile">
            <a href="{% url 'main' %}">На сайт</a>
            <button class="new_user">
                <a href={% url 'adminapp:user_create' %}>Новый пользователь</a>
            </button>
        </div>

        {% for object in object_list %}


    <div class="card my-3  {% if not object.is_active %}user_blocked_card{% endif %} shadow-sm">
      <div class="card-body">
          <h5 class="card-title">

              <b> {{ object.username }}</b></h5>
  </div>
    <div class="row">
    <div class="col-3 align-baseline">
    <img src="{{ object.avatar|media_folder_users }}" class="rounded mx-auto d-block" alt="{{ object.username }}" height="100 px">
    </div>
    <div class="col-9">
        <p><span class="card-cat-block">ИМЯ : </span>{{ object.first_name|title }}</p>
        <p><span class="card-cat-block">ВОЗРАСТ : </span>  {{ object.age }} </p>
        <p><span class="card-cat-block">EMAIL : </span>  {{ object.email }} </p>
        <p><span class="card-cat-block">ПОСЛЕДНИЙ ВХОД: </span> {{ object.last_login }} </p>
    </div>
  </div>
    <div class="row">
    <div class="col-3 text-center justify-content-center {% if  object.is_superuser %}is_admin_text{% endif %}">
      {% if object.is_superuser %}Администратор{% else %}Пользователь{% endif %}
    </div>
      <div class="col text-end mx-1 my-1">
          <a href = {% url 'adminapp:user_update' object.pk %} role="button" hover-text="Редактировать" class="btn btn-outline-warning button_hovertext mx-2 my-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
          </a>
          <a href = {% url 'adminapp:user_blocked' object.pk %} role="button" hover-text="Заблокировать" class="btn btn-outline-secondary button_hovertext mx-2 my-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
              </svg>
          </a>
          <a href = {% url 'adminapp:user_delete' object.pk %} role="button" hover-text="Удалить" class="btn btn-outline-danger button_hovertext mx-2 my-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
          </a>
    </div>
  </div>
    </div>
        {% endfor %}
    </div>
{% endblock content %}