* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Классы из Bootstrap*/

.navbar{
    background-color: bisque;
}

.display-heading{
    font-size: 35px;
    color: #666666;
}

.right{
    position: absolute;
    right: 0;
}

.bg-footer{
    background-color: #999999;
}

.orange{
    background-color: orange;
}


/*Обычные классы*/
html {
    min-width: 800px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #333;
}

a{
  text-decoration: none !important;
  color: #666666;
}

a:hover{
  color: black;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

.block-article{
    margin-top: 5%;
    margin-bottom: 5%;
}


.user-panel-button {
    color: #666666;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 10px;
}

.user-panel-button:hover {
    color: black;
}

.article-box{
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
}

.project-menu-name{
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header,
.content-wrapper,
.container,
.content,
.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.header {
    height: auto;
    background: #6CAEDD;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.footer {
    position:fixed;
    bottom:0;
    background: #364850;
    color: #fff;
    margin-left: 5%;
    width: 80%;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    min-width: 800px;
    max-width: 2000px;
}

.container {
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;
}

.container-menu, .footer-menu {
    background-color: #6CAEDD;
    margin-left: 5%;
    padding-top: 20px;
    width: 80%;
}

.footer-menu{
    background: #364850;
}

.menu-point {
    margin-left: 5%;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

/* Классы для Личного кабинета */

.profile_subheading_1 {
    font-size: 30px;
    color: #666666;
    /*font-style: не было прописано PyCharm ругался*/
}

.profile_subheading_2 {
    font-size: 25px;
    color: green;
}


.profile_info {
	margin: 10px 0px;
}

.profile_image {
	height: 200px;
	width: 200px;
	float: left;
	margin: 0px 5px 5px 0px;
}

.profile_article_section {
	border-bottom: 2px dashed blue;
	margin-bottom: 10px;
	padding: 5px;
}

.btn-light {
    margin-top: 20px
}

/* Окно регистрации */

.login {
    max-width: 400px;
    margin: 40px auto 0;
}

/*Окно изменения пользователя*/

.user_avatar img {
    max-width: 400px;
}