* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Классы из Bootstrap*/

.navbar{
    background-color: bisque;
}

.display-heading{
    font-size: 35px;
    color: #666666;
}

.right{
    position: absolute;
    right: 0;
}

.bg-footer{
    background-color: #999999;
}

.orange{
    background-color: orange;
}


/*Обычные классы*/
html {
    min-width: 800px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #333;
}


a{
  text-decoration: none !important;
  color: #666666;
}

.a_link_article{
    color: maroon;
}

a:hover{
  color: black;
}

.active{
    background: darkgrey;
    border-radius: 10px;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

.block-article{
    margin-top: 5%;
    margin-bottom: 5%;
}


.user-panel-button {
    color: #666666;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 10px;
}

.user-panel-button:hover {
    color: black;
}

.article-box{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 5%;
}

.article-img{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 250px;
    width: 400px;
}

.project-menu-name{
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header,
.content-wrapper,
.container,
.content,
.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.header {
    height: auto;
    background: #6CAEDD;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.footer {
    position:fixed;
    bottom:0;
    background: #364850;
    color: #fff;
    margin-left: 5%;
    width: 80%;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    min-width: 800px;
    max-width: 2000px;
}

.container {
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;
}

.container-menu, .footer-menu {
    background-color: #6CAEDD;
    margin-left: 5%;
    padding-top: 20px;
    width: 80%;
}

.footer-menu{
    background: #364850;
}

.menu-point {
    margin-left: 5%;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

.menu_category{
    list-style-type: none;
    background: lightgray;
}

/* Классы для Личного кабинета */

.profile_subheading_1 {
    font-size: 30px;
    color: #666666;
    /*font-style: не было прописано PyCharm ругался*/
}

.profile_subheading_2 {
    font-size: 25px;
    color: green;
}


.profile_info {
	margin: 10px 0px;
}

.profile_image {
	height: 200px;
	width: 200px;
	float: left;
	margin: 0px 5px 5px 0px;
}

.profile_article_section {
	border-bottom: 2px dashed blue;
	margin-bottom: 10px;
	padding: 5px;
}

.btn-light {
    margin-top: 20px
}

/* Окно регистрации */

.login {
    max-width: 400px;
    margin: 40px auto 0;
}

/*Окно изменения пользователя*/

.user_avatar img {
    max-width: 400px;
}

.img-box{
    margin-top: 5%;
    margin-bottom: 5%;
}

.comments, .likes, .dislikes{
    float: left;
}

.btn-comments, .btn-likes, .btn-dislikes{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.btn-likes{
    color: green;
}

.btn-dislikes{
    color: red;
}

.pagination > li > a
{
    /*background-color: #6c757d;*/
    color: #6c757d;
}

.pagination > .active > a
{
    /*color: white;*/
    background-color: #999999 !Important;
    border: solid 1px #999999 !Important;
}

/* Классы для администрования пользователей */

.user_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.user_delete .btn {
    display: block;
    float: left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.user_delete a {
    color: #111;
    text-decoration: none;
}

.users_list {
    margin-left: 150px;
}

.users_list a {
    color: #555;
    text-decoration: none;
}

.users_list .new_user {
    margin-left: 190px;
}

.users_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    padding: 0 15px;
}

.user_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
}

.user_record.not_active {
    opacity: 0.5;
}

.user_record img {
    display: block;
    float: left;
    height: 125px;
    border-radius: 25px;
}

.user_record .user_name {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 175px;
}

.user_record .user_name a {
    color: #555;
}

.user_record .user_name p {
    /*font-weight: bold;*/
    margin: 10px auto;
}

.user_record .user_email {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.user_record .user_age {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 45px;
}

.user_record .user_role {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 125px;
}

.user_record .user_lastlogin {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.admin_container .menu span {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #111;
}

.admin_container .h2 {
    margin-top: 10px;
}

.admin_menu {
    display: block;
    left: 15px;
    top: 20px;
    height: 40px;
    width: 100%;
}

.admin_menu ul.menu {
    display: block;
    float: none;
    width: 550px;
    height: 50px;
    margin: auto;
    color: #555;
}

.menu {
    list-style-type: none;
    margin-top: 67px;
    float: right;
}

.menu li {
    float: left;
}

.menu a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu .active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu a:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu a:active {
    color: #8c8c8c;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}
