* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Классы из Bootstrap*/

.navbar {
    background-color: #3a3a3a;
}

.nav-link {
    color: Gainsboro !important;
}

.nav-link:hover {
    color: white !important;
}

.black {
    color: DimGrey !important;
}

.black:hover {
    color: black !important;
}

.active {
    background: #f0f0f0;
    color: white;
}

.display-heading {
    color: #3a3a3a;
    margin-top: 20px;
    margin-bottom: 0px;
}

.right {
    position: absolute;
    right: 0;
}

.orange {
    background-color: orange;
}

#menu-icon {
    color: Gainsboro;
}

#menu-icon:hover {
    color: white;
}

.menu-icon-box {
    border: 1px;
    border-color: white;
    float: left;

}

.margin1{
    margin-right: 10%;
}

.article-img {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: 15%;
    width: 70% !important;
    border: none !important;
}

.search-button{
    border-color: Gainsboro;
    color: Gainsboro;
}

.search-button:hover{
    border-color: maroon;
    background-color: maroon;
    color: Gainsboro;
}

.search-button:checked {
    border-color: maroon;
    background-color: maroon;
    color: Gainsboro;
}


/*Обычные классы*/
html {
    min-height: 0;
    min-width: 800px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #dedede;
}

.main-content{
   flex: 1 0 auto;
}

footer{
   flex: 0 0 auto;
}

a {
    text-decoration: none !important;
    color: maroon;
}

.a_link_article {
    color: maroon;
}

a:hover {
    color: black;
}


button:active,
button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

.block-article {
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    box-shadow: 0 0 3px 3px silver;
    border-radius: 5px;
}

.block-comment {
    background-color: white;
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    box-shadow: 0 0 3px 3px silver;
    border-radius: 10px;
}

.block-notification {
    background-color: white;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    box-shadow: 0 0 3px 3px silver;
    border-radius: 10px;
}

.block-profile{
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 3% 2% 2% 3%;

}

.img-role-redaction-block{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.info-about-user{
    width: 60%;
    display: inline-block;
    margin-left: 5%;
    vertical-align: top;
}


.user-panel-button {
    color: gainsboro;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 10px;
}

.user-panel-button:hover {
    color: black;
}

.article-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.article-list-box {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-bottom: 5%;
}


.project-menu-name {
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header,
.content-wrapper,
.container,
.content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.header {
    height: auto;
    background: #6CAEDD;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.text{
    margin-left:15px;
    font-size: 18px;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    min-width: 800px;
    max-width: 2000px;
}

.container {
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;
}

.container-menu,
.footer-menu {
    background-color: #6CAEDD;
    margin-left: 5%;
    padding-top: 20px;
    width: 80%;
}

.footer-menu {
    background: #364850;
}

.menu-point {
    margin-left: 5%;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

.menu_category {
    list-style-type: none;
    background: Silver;
    box-shadow: 0 0 3px 3px darkgray;
}

/* Классы для кирпичей */

.related-articles {
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    /*padding-top: 32px;*/
    /*margin-bottom: 32px;*/
}

.article-brick {
    /* width: 777px; */
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.admin-moder-panel{
    margin-right: 5%;
    width: 5%;

}



/* Классы для Личного кабинета */

.profile_subheading_1 {
    font-size: 30px;
    color: #666666;
    /*font-style: не было прописано PyCharm ругался*/
}

.profile_subheading_2 {
    font-size: 25px;
    color: green;
}

.profile_info {
    display: flex;
    margin: 10px 0px;
    flex-direction: row;
    justify-content: flex-start;
}

.profile_image {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 10px;
}

.first-last-name{
    text-align: left;
}

.profile_about{
    text-align: left;
}

.about-user-pole{
    color: maroon;
    font-weight: bold;
}

.user-admin-moder-buttons{
    width: 100%;
}


.first-last-name-block{
    color: maroon;
    font-size: 20px;
    font-weight: bold;
}

.profile-role-block{
    margin-top: 70%;
    margin-bottom: 5%;
}

.profile_article_section {
    border-bottom: 2px dashed blue;
    margin-bottom: 10px;
    padding: 5px;
}

.btn-light {
    margin-top: 20px
}

.btn-red-profile-block {
    margin-bottom: 2%;
    display: block;
    width: 100%;
    border: 1px solid maroon;
    border-radius: 5px;
    background: white;
    padding: 5px 5px;
    text-decoration: none;
    color: maroon;
}

.btn-red-profile-block:hover  {
    background: maroon;
    border: 1px solid maroon;
    color: white;
}

.article_line {
    margin-top: 15px;
}

table.article-table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 10px;
}

td.article-table {
    border: 1px solid black;
    border-radius: 15px;
}

.article-table table {
    min-height: 50px;
    margin-left: 10px;
    width: 100%;
}

.article-table p {
    margin-bottom: 0;
    font-size: medium;
}

.article-name {
    width: 60%;
}

.hub-name {
    width: 25%;
}

.hub-name p {
    text-align: center;
}

a.article-anchor {
    display: block;
}


/* Окно регистрации */

.login {
    max-width: 400px;
    margin: 40px auto 0;
}

/*Окно изменения пользователя*/

.user_avatar img {
    max-width: 400px;
}

.img-box {
    text-align:center
}

.main-pic {
    height: 65%;
    width: 65%;

}

.comments,
.likes,
.dislikes {
    float: left;
}

.btn-comments,
.btn-likes,
.btn-likess,
.btn-dislikes,
.btn-dislikess,
.btn-comments-answer,
.submit_comment,
.submit_subcomment {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.btn-comments-answer, .submit_comment, .submit_subcomment {
    background-color: lightgray;
    border-radius: 5px;
    color: #666666;
    box-shadow: 0 0 5px 1px rgba(221, 221, 221, 1);
}

.btn-comments-answer:hover, .submit_comment:hover, .submit_subcomment:hover {
    background-color: grey;
    color: snow;
}

.btn-likes, .btn-likess {
    color: green !important;
}

.btn-dislikes, .btn-dislikess {
    color: red !important;
}

.btn-comments {
    color: black !important;
    padding-top: 2px;
}

.pagination > li > a {
    /*background-color: #6c757d;*/
    color: #6c757d;
}

.pagination > .active > a {
    /*color: white;*/
    background-color: #999999 !Important;
    border: solid 1px #999999 !Important;

}

.comment_h2 {
    padding-top: 20px;
}

.comment-main {
    color: #666666;
}

/* Классы для администрования пользователей */

.user_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.user_delete .btn {
    display: block;
    float: left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.user_delete a {
    color: #111;
    text-decoration: none;
}

.users_list {
    margin-left: 150px;
    margin-right: 150px;
}

.users_list a {
    color: #555;
    text-decoration: none;
}

.users_list .new_user {
    margin-left: 190px;
}

.users_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 50px;
}

.user_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
    border: 1px solid #b3b3b3;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.user_record.not_active {
    opacity: 0.5;
}

.user_record img {
    display: block;
    float: left;
    height: 125px;
    border-radius: 25px;
}

.user_record .user_name {
    display: flex;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    width: 175px;
    flex-direction: column;
}

.user_record .user_name a {
    color: #555;
}

.user_record .user_name p {
    /*font-weight: bold;*/
    margin: 10px auto;
}

.user_record .user_email {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.user_record .user_age {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    width: 45px;
}

.user_record .user_role {
    display: flex;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 125px;
    flex-direction: column;
    align-items: flex-start;
}

.user_record .user_lastlogin {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.admin_container .menu span {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #111;
}

.admin_container .h2 {
    margin-top: 10px;
}

.menu {
    list-style-type: none;
    margin-top: 67px;
    float: right;
}

.menu li {
    float: left;
}

.menu a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu .active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu a:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.menu a:active {
    color: #8c8c8c;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.admin-moder-buttons{
    margin-top: 10%;
    width: 100%;
}


.flex-block-profile {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
}



.like_colour {
    color: rgba(135, 135, 135, 0.68);
}

.btn-read-article{
    border: 1px solid maroon;
    border-radius: 5px;
    background: white;
    padding: 5px 5px;
    text-decoration: none;
    color: maroon;
}

.btn-read-article:hover{
    background: maroon;
    color: white;
}

.subcomment_block {
    width: 80%;
    margin-left: auto;
    display: none;
}

textarea {
    border-radius: 10px;
}

.details {
    width: 40%;
}

.likes-dislikes-comments-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.box-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.box-top a {
    margin-right: 10px;
    color: #6c757d;
}

.box-btn-read {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-page {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 100px;
    margin-right: 100px;
}


.profile-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Модерация*/

.moderation-chat{
    float: left;
    margin-left: 30px;
    min-width: 550px !important;
}

.moderation-article-box {
    margin-top: 2%;
    margin-left: 20%;
    width: 70%;
    margin-bottom: 5%;
    display: flex;
}

.details-articles {
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    box-shadow: 0 0 3px 3px silver;
    border-radius: 10px;

}

.first-line {
    display: flex;
}

.first-line p {
    margin-top: 10px;
}

.moderation-messages {
    min-width: 500px;
}

.moderation-message {
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 5px;
}

.datetime {
    width: 40%;
    text-align: right;
}

.datetime p {
    margin-right: 10px;
}

.author {
    width: 60%;
}

.author p {
    margin-left: 10px;
}

.second-line p {
    margin-left: 10px;
}


.notification-icon{
    color: white;
    background-color: red;
}


.search_canvas{
    width: 490px !Important;
}

#search_name{
    width: 440px !Important;
}

#search_text{
    width: 440px !Important;
}
#author{
    width: 220px !Important;
}
#hub{
    width: 220px !Important;
}
#rating_start{
    width: 220px !Important;
}
#rating_end{
    width: 220px !Important;
}