{% extends "mainapp/base.html" %}
{% load project_tags %}
{% load static %}
{% block title %}{{ page_title|title }} {{ article.pk }}: {{ article }}{% endblock %}
{% block content %}
    <div class="moderation-article-box">
    {% csrf_token %}
        <div class="details">
            <div class="moderation-details-articles">
                <h4 class="text-center">{{ article.name }}</h4>
                <div class="img-box">
                    <img class="img-thumbnail" src="{{ article.image|media_folder_article }}" alt="">
                </div>
                <div class="text">
                    <p>{{ article.add_datatime }}</p>
                    {{ article.text|safe|linebreaks }}
                    <hr>
                    <p>#{{ article.tag }}</p>
                    <p>{{ article.hub }}</p>
                </div>
            </div>
        </div>
        <div class="card mb-3 moderation-chat">
            <div class="card-header">
                {% if user.is_stuff or user.is_superuser %}
                    <p>Общение с автором ({{ article.author.username }})</p>
                {% else %}
                    <p>Общение с Модератором</p>
                {% endif %}
                {% if user.is_stuff or user.is_superuser %}
                <a class="btn btn-primary btn-sm" href="{% url 'moderation:approve_article' article.pk %}" role="button">Разрешить публикацию</a>
                <a class="btn btn-primary btn-sm" href="{% url 'moderation:reject_article' article.pk %}" role="button">Вернуть на доработку</a>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <textarea class="form-control" placeholder="Recipient's username"
                              aria-label="Recipient's username" aria-describedby="send_message" id="message"></textarea>
                    <button class="btn btn-outline-secondary" type="button" id="send_message" name="{{ article.pk }}">Отправить</button>
                </div>
                {% if not messages %}
                <p class="card-text">
                    Пока нет ни одного сообщения.
                </p>
                {% endif %}

                <div class="moderation-messages">
                    {% if not messages %}
                    <div class="moderation-message"></div>
                    {% else %}
                    {% for message in messages %}
                    <div class="moderation-message">
                        <div class="first-line">
                            <div class="author">
                                <p>{{ message.message_from.username }}</p>
                            </div>
                            <div class="datetime">
                                <p>{{ message.datetime | date:"d-m-Y H:i" }}</p>
                            </div>
                        </div>
                        <div class="second-line">
                            <p>{{ message.text }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/moderation.js' %}"></script>
{% endblock %}

