{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}

{% block articles %}
	<div class="details">
		<div class="details-products">
            <h4>{{ article.name }}</h4>
            <img src="{% static 'img/python.jpeg' %}" alt="">
            <div class="text">
                <p>{{ article.add_datatime }}</p>
                <p>{{ article.text }}</p>
                <p>{{ article.tag }}</p>
                <p>{{ article.hub }}</p>
            </div>
		</div>
	</div>
{% endblock %}