{% extends "mainapp/base.html" %}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
	<div class="details">
		{% include 'mainapp/includes/inc__category_articles.html' %}
		<div class="related">
			<div class="related-articles">
				{% for item in object_list %}
				<div class="block">
					<a href="{% url 'article_page' item.pk %}">
                        <h4>{{ item.name }}</h4>
                    </a>
						<img src="/media/{{ item.image }}" alt="">
						<div class="text">
							<p>{{ item.add_datatime }}</p>
							<p>{{ item.text|truncatewords:30 }}</p>
							<p>{{ item.tag }}</p>
							<p>{{ item.hub }}</p>
						</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
