{% extends "mainapp/base.html" %}
{% load project_tags %}
{% load static %}
{% block title %}{{ page_title|title }} {{ article.pk }}: {{ article }}{% endblock %}
{% block content %}
<div class="article-box">
    <div class="details">
        <div class="details-articles">
            <p><a href="{% url 'profile:user' article.author.pk %}">
                            <span class="font-weight-bold"><img class="mr-2"
                                                                src="{{article.author.avatar|media_folder_users }}"
                                                                alt="profile_image" height="24">
                                <button type="button" class="btn btn-warning">{{article.author.rating_author|floatformat:2}}</button>
                                {{article.author }}

                            </span></a>
                <span class="font-weight-light">
                            {{ article.add_datetime }}
                        </span>

            </p>

            <h4 class="text-center">{{ article.name }}</h4>

            <div class="img-box">
                <img class="img-thumbnail" src="{{ article.image|media_folder_article }}" alt="">
            </div>
            {% if audio %}
            <div class="audio-text">
                <audio controls preload="auto">
                    <source src="{{ audio.audio_file.url }}" type="audio/mp3">
                </audio>
            </div>
            {% else %}
            <div class="audio-text fw-lighter">
                Аудиостатья ещё подготавливается, либо ее нету для этой статьи
            </div>
            {% endif %}
            <div id="text" class="text">
                <p>{{ article.add_datatime }}</p>
                {{ article.text|safe|linebreaks }}
                <hr>
                <p>#{{ article.tag }}</p>
                <p>{{ article.hub }}</p>

            </div>
            {% include 'mainapp/includes/inc__activity.html' %}
        </div>
    <button type="button" class="btn btn-warning margin-left" data-bs-toggle="modal" href="#exampleModalToggle">
            Поддержать автора
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
            </svg>
        </button>
{#        Модальное окно#}
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Подержите автора статьи: {{ article.author }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="" method="post">
                      {% csrf_token %}
                      <p>Как сильно Вы хотите поддержать автора?</p>
                      <input type="number" name="cash">
                      <p>Кто отправляет?</p>
                      <select name="select">
                          <option>Аноним</option>
                          <option selected>{{ user.username }}</option>
                      </select>
                      <p>Сообщение получателю</p>
                      <input type="text" name="message">
{#                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>#}
                      <button class="btn btn-primary" name="donation" value="{{ article.pk }}" type="submit">Поддержать!</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Hide this modal and show the first with the button below.
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
              </div>
            </div>
          </div>
        </div>
{#        Модальное окно#}
        {% include 'mainapp/includes/inc__comment.html' %}
    </div>
</div>
{% endblock %}

