{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block menu %} {% include 'mainapp/includes/inc__main_menu.html' %} {% endblock %}
    {% block content %}{% endblock %}
</body>
    <footer class="footer">
        <div class="footer-menu">
{#            {% include 'mainapp/includes/inc__main_menu.html' %}#}
            <a class="menu-point" href="{% url 'main' %}">Главная</a>
        </div>
    </footer>
</html>
