{% extends "mainapp/base.html" %}
{% load static %}
{% load project_tags %}
{% block content %}
    <div class="article-box">
        {% if article.article_status_new.name == 'Опубликована' %}
            <h1>ВНИМАНИЕ! Опубликованная статья, после редактирования будет отправлена на модерацию!</h1>
        {% endif %}
        <form class="form-horizontal" action="{% url 'profile:edit_article' article.pk %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <br>
            <input class="form-control btn btn-success btn-lg btn-block" type="submit" value="Сохранить">
        </form>
        <br>
        <a class="btn btn-secondary btn-lg btn-block" type="button" href="{% url 'profile:main' %}">Не сохранять</a>
    </div>
{% endblock %}