{% extends "mainapp/base.html" %}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
<div class="details">
    {% include 'mainapp/includes/inc__category_articles.html' %}
    <div class="related">
        <div class="related-articles">
            {% for article in recent_articles %}
            <div class="block">
                <a href="{% url 'article_page' article.pk %}">
                    <h4>{{ article.name }}</h4>
                </a>
                <img src="/media/{{ article.image }}" alt="">
                <div class="text">
                    <p>{{ article.add_datatime }}</p>
                    <p>{{ article.text }}</p>
                    <p>{{ article.tag }}</p>
                    <p>{{ article.hab }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}